.header {
  text-align: center;
  background-color: rgb(72, 72, 72);
  color: #fff;
  padding: 12px;
  font-size: 2em;
}
.hold {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.85em;
  padding: 10px;
  transform: translateY(13px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.active {
  color: rgb(72, 72, 72);
  background-color: #fff;
}
